body {
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

td {
    border: 2px solid black;
    margin: 2px;
    text-align: center;
}

img {
    max-width: 200px;
}

.iconify {
    font-size: 3rem;
}